{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <header>
      <div class="wrapper">
        <div class="header-public">
          <h1>Welcome to HeadCrumbs</h1>
          <nav>
            <ul>
              {% if not request.user.is_authenticated %}
              <li><a href="{% url 'login' %}">Login</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div class="wrapper">{% block content %} {% endblock %}</div>
    </main>
    <footer>
      <div class="wrapper"></div>
    </footer>
  </body>
</html>
